
<ion-navbar *navbar>
  <ion-title>
    Tab Components
  </ion-title>
</ion-navbar>

<ion-content class="pageComponents">
    
    {{ pageTitle }}
    
    <h1>Badges</h1>
    
    <ion-item>
        <ion-icon name="logo-twitter" item-left></ion-icon>
            Followers
        <ion-badge secondary item-right>260k</ion-badge>
    </ion-item>
    
    <h1>Buttons</h1>
    
    <button light>Light</button>
    <button>Primary</button>
    <button secondary>Secondary</button>
    <button danger>Danger</button>
    <button dark>Dark</button><br/>
    
    <button light outline>Light Outline</button>
    <button outline>Primary Outline</button>
    <button secondary outline>Secondary Outline</button>
    <button danger outline>Danger Outline</button>
    <button dark outline>Dark Outline</button><br/>
    
    <button light clear>Light Clear</button>
    <button clear>Primary Clear</button>
    <button secondary clear>Secondary Clear</button>
    <button danger clear>Danger Clear</button>
    <button dark clear>Dark Clear</button><br/>
    
    <!-- Float the icon left -->
    <button>
    <ion-icon name="home"></ion-icon>
    Left Icon
    </button>

    <!-- Float the icon right -->
    <button>
    Right Icon
    <ion-icon name="home"></ion-icon>
    </button>

    <!-- Only icon (no text) -->
    <button>
    <ion-icon name="home"></ion-icon>
    </button>
    
    <h1>Cards</h1>
    
    <ion-card>
        <ion-card-header>
            Header
        </ion-card-header>
        <ion-card-content>
            The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
        </ion-card-content>
    </ion-card>
    
    <ion-card>
        <ion-card-header>
            Explore Nearby
        </ion-card-header>
        <ion-list>
            <button ion-item>
                <ion-icon name="cart" item-left></ion-icon>
                Shopping
            </button>
            <button ion-item>
                <ion-icon name="medical" item-left></ion-icon>
                Hospital
            </button>
            <button ion-item>
                <ion-icon name="cafe" item-left></ion-icon>
                Cafe
            </button>
            <button ion-item>
                <ion-icon name="paw" item-left></ion-icon>
                Dog Park
            </button>
            <button ion-item>
                <ion-icon name="beer" item-left></ion-icon>
                Pub
            </button>
            <button ion-item>
                <ion-icon name="planet" item-left></ion-icon>
                Space
            </button>
        </ion-list>
    </ion-card>
    
    <h1>Checkboxes</h1>
    
    <ion-list>
        <ion-item>
            <ion-label>Checkbox 1 : checked</ion-label>
            <ion-checkbox dark checked="true"></ion-checkbox>
        </ion-item>
        <ion-item>
            <ion-label>Checkbox 2 : disabled</ion-label>
            <ion-checkbox disabled="true"></ion-checkbox>
        </ion-item>
    </ion-list>
    
    <h1>Grids</h1>
    
    <ion-row center>
        <ion-col width-50 style="border:1px solid red;">COL 1</ion-col>
        <ion-col width-25 style="border:1px solid green;">COL 2</ion-col>
        <ion-col width-25 style="border:1px solid blue;">COL 3</ion-col>
    </ion-row>
    
    <h1>Icons</h1>
    
    <ion-icon name="heart"></ion-icon>                    <!-- active -->
    <ion-icon name="heart" isActive="false"></ion-icon>  <!-- inactive -->
    <ion-icon ios="logo-apple" md="logo-android"></ion-icon>
    <ion-icon [name]="myIcon"></ion-icon>
    
    <h1>Inputs</h1>
    
    <ion-list>
        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>Password</ion-label>
            <ion-input type="password"></ion-input>
        </ion-item>
    </ion-list>

    <h1>Lists</h1>
    
    <ion-list>
        <ion-item *ngFor="#item of items" (click)="itemSelected(item)">
            {{item.prenom}}
        </ion-item>
    </ion-list>
    
    <ion-item-group>
        <ion-item-divider light>A</ion-item-divider>
        <ion-item>Angola</ion-item>
        <ion-item>Argentina</ion-item>
        <ion-item-divider light>B</ion-item-divider>
        <ion-item>Brazil</ion-item>
    </ion-item-group>
        
</ion-content>
